@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.125rem;
}
body{
    background-color: hsl(221, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
}
.blueRect{
    display: inline-grid;
    place-items: center;
    width: 360px;
    min-height: 420px;
    background-color: hsl(252, 100%, 67%);
    color: white;
}
.whiteRect{
    display: inline-grid;
    place-items: center;
    width: 360px;
    min-height: 420px;
    background-color: hsl(0, 0%, 100%);
}
.continue{
    display: inline-grid;
    place-items: center;
    background-color: hsla(256, 72%, 46%, 1);
    width: 240px;
    height: 40px;
    color: white;
    border-radius: 20px;
}
.rounded{
    border-radius: 15px;
}
.circle{
    background-color: hsla(256, 72%, 46%, 1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
}
.container{
    display: inline-grid;
    grid-template-columns: repeat(2, 360px);
    justify-content: center;
    gap: 0px;
    margin: 0 auto;
}
.circle76{
    font-size: 3em;
}
.reaction{
    display: inline-grid;
    place-items: center;
    width: 240px;
    height: 40px;
    background-color: hsl(0, 100%, 67%, 0.1);
}
.reactionL{
    color: hsl(0, 100%, 67%);
}
.memory{
    display: inline-grid;
    place-items: center;
    width: 240px;
    height: 40px;
    background-color: hsl(39, 100%, 56%, 0.1);
}
.memoryL{
    color: hsl(39, 100%, 56%);
}
.verbal{
    display: inline-grid;
    place-items: center;
    width: 240px;
    height: 40px;
    background-color: hsl(166, 100%, 37%, 0.1);
}
.verbalL{
    color: hsl(166, 100%, 37%);;
}
.visual{
    display: inline-grid;
    place-items: center;
    width: 240px;
    height: 40px;
    background-color: hsl(234, 85%, 45%, 0.1);
}
.visualL{
    color: hsl(234, 85%, 45%);
}
